QFrame, QListView {
   border: 0;
   padding: 0;
   color: white;
/*   box-sizing: border-box;*/
}

QListView::item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 5px 5px 5px;
  background-color: #08111c;
}

QListView::item:selected {
  background-color: #122842;
  color: white;
}

QListView::item:hover {
  background-color: #1c3f68;
}


QMainWindow {
   background: #0E1C2E;
   color: #D2DBED;
}

QLabel {
   color: #D2DBED;
   font-family: "Work Sans", "Segoe UI", sans-serif;
}

QFrame#side_bar{
    border-top: 1px solid #DBEAFE;
}

QPushButton {
   font-family: "Work Sans", "Segoe UI", sans-serif;
   background: transparent;
   border: 1px solid #18314F;
   border-radius: 2px;
   color: white;
}

QStackedWidget{
    background: #18314F;
}

QListView#libraryListView{
    background: #18314F;
}

QPushButton#forward_pa, QPushButton#back_pa, QPushButton#play_pause_pa
{
    background: transparent;
    border: none;
}

/* Responsive */

QPushButton:hover,QPushButton#forward_pa:hover, QPushButton#back_pa:hover, QPushButton#play_pause_pa:hover
{
   background: #FFFFFF;
   color: #000000;
}

QListView {
   background: #18314f;
}

QTableWidget::horizontalHeader {
    background-color: #303030; /* Set background color of horizontal header */
    border: 1px solid #d0d0d0; /* Set border color and width */
    border-bottom: none; /* Remove bottom border */
    color: white;
}

QHeaderView::section {
   background-color: #303030; /* Set background color of horizontal header */
   border: 1px solid #d0d0d0; /* Set border color and width */
   border-bottom: none; /* Remove bottom border */
   color: white;
}

QTableWidget::verticalHeader {
    background-color: #303030; /* Set background color of vertical header */
    border: 1px solid #d0d0d0; /* Set border color and width */
    border-right: none; /* Remove right border */
    color: white;
}
