QMainWindow {
   background: #0E1C2E;
   color: #D2DBED;
}

QLabel {
   color: #D2DBED;
   font-family: "Work Sans", "Segoe UI", sans-serif;
}

QFrame#side_bar{
    border-top: 1px solid #DBEAFE;
}

QPushButton {
   font-family: "Work Sans", "Segoe UI", sans-serif;
   background: transparent;
   border: 1px solid #18314F;
   border-radius: 2px;
   color: white;
}

QStackedWidget{
    background: #18314F;
}

QListView#libraryListView{
    background: #18314F;
}

QPushButton#forward_pa, QPushButton#back_pa, QPushButton#play_pause_pa
{
    background: transparent;
    border: none;
}

/* Responsive */

QPushButton:hover,QPushButton#forward_pa:hover, QPushButton#back_pa:hover, QPushButton#play_pause_pa:hover
{
   background: #FFFFFF;
   color: #000000;
}
